<h1>Nasa Data Upload Error</h1>

<p>
  There has been an error in uploading today's Nasa Daily New's entry to the API's database.
  <br>
  <br>
  ERROR:
  <br> 
  <%= @msg %>
  <br>
  <br>
  DATA: 
  <br>
  <%= @data %> 
</p>
